<div class="exhibitions">
  <ul class="list-group">
    <% @exhibitions.each do |exhibition| %>
      <div class="exhibtion-list">
        <h4>Exhibition</h4>
        <a href=<%= exhibition["url"] %>><p class="bg-info"><%= exhibition["name"] %></p></a>
        <h4>Gallery</h4>
        <a href=<%= exhibition["gallery_url"] %>><p class="bg-info"><%= exhibition["gallery_name"] %></p></a>
      </div>
    <% end %>
  </ul>
</div>
  