<div class="exhibition">
  <h2> Exhibition Name </h4>
  <p class="bg-info"><%= @exhibition["name"] %></p>
  <h2> Gallery </h4>
  <p class="bg-info"><a href=<%= @exhibition["gallery_url"] %>> <%= @exhibition["gallery_name"] %></p>
</div> 