<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li><a href="/galleries">Galleries</a></li>
          <li><a href="/exhibitions">Exhibitons</a></li>
          <li><a href="/tickets">Tickets</a></li>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>