<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li><a href="/galleries">Galleries</a></li>
          <li><a href="/exhibitions">Exhibitons</a></li>
          <li><a href="/tickets">Tickets</a></li>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>