<div class="ticket-form">
  <form role="form" action="/tickets/new" method="post">
    <div class="form-group">
      <label for="Name">Name</label>
      <input type="text" name="name"/>
    </div>

    <div class="form-group">
      <label>Entry at</label>
      <input type="text" name="entry_at">
    </div>

    <div class="form-group">
      <label>Exhibiton id</label>
      <input type="text" name="id">
    </div>

    <input type="submit" class="btn btn-default" value="Create Ticket">
  </form>
</div>